body {
    background-color: #E06792;
    animation-duration: 2s;
    animation-name: Koushik;
    animation-iteration-count: infinite;
}

@keyframes Koushik {
    0% {
        background-color: #E06792;
    }

    25% {
        background-color: #B93DA2;
    }

    50% {
        background-color: #78348C;
    }

    75% {
        background-color: #DD5151;
    }

    90% {
        background-color: #E59145;
    }

    100% {
        background-color: #E6BB68;
    }
}

body {
    background-image: url(12.png);
    background-size: 25%;
    background-repeat: repeat-x;
}

#pas {
    width: 300px;
    height: 300px;
    margin-left: 530px;
    margin-top: 150px;
    border-radius: 10px;
}
audio {
    position: absolute;
    bottom: 100px;
    left: 540px;
}

p {
    margin-top: -26%;
    font-size: 22px;
    font-weight: bolder;
    font-family: proxima-nova-condensed, sans-serif;
    animation-duration: 15s;
    animation-name: text;
    animation-iteration-count: infinite;
}

@keyframes text {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: 880px;
    }
}

#spoti {
    margin-bottom: -31%;
    margin-left: 41%;
    width: 50px;
    height: 50px;
}
#saa {
    margin-bottom: -31.5%;
    margin-left: 0.5%;
    width: 65px;
    height: 65px;
}
#wynk{
    margin-bottom: -31%;
    margin-left: 0.5%;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}
#gaa{
    margin-bottom: -31%;
    margin-left: 0.5%;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}