html body {
    background-color: #92D293;
}

.container1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2E2E2E;
    box-shadow: beige;
    border-radius: 15px;
    padding-bottom: 18px;
    width: 325px;
}

.display {
    width: 100%;
    height: 60px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #2E2E2E !important;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.but {
    padding: 22px 22px 0 22px;
}

.row {
    width: 280px;
    float: left;
}

.btn:hover {
    background-color: gray;
    color: honeydew;
}
input[type=button] {
    width: 60px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background-color: rgb(12, 10, 15);
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
input[type=text] {
    width: 275px;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: none;
    color: black;
    text-align: right;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin: 0 25px;
}
#r1 {
    position: relative;
    width: 60px;
    height: 40px;
    background-color: #C71E25;
    border: none;
    color: ghostwhite;
    font-weight: bolder;
    font-size: 28px;
    box-shadow: #2E2E2E;
    left: -130px;
    border-radius: 0;
    text-align: center;

}
#gst {
    position: relative;
    width: 82px;
    height: 40px;
    top: 8px;
    right: -49px;

}
